{% extends "layout.html" %}
{% block body %}

<header>
    <h1>Bạn cần tìm danh sách gì?</h1>
</header>
<main>
    <section>
        <ul>
            <li><a href="/students_database">Danh sách tổng sinh viên</a></li>
            <li><a href="/activities_database">Danh sách tổng các hoạt động</a></li>
            <li><a href="/participants_database">Danh sách tham gia hoạt động theo code</a></li>
            <li><a href="/kt_xp_database">Danh sách khen thưởng/xử phạt</a></li>
            <li><a href="/submission_database">Lịch sử nhập dữ liệu</a></li>
        </ul>
    </section>
    <button onclick="location.href='/home'">HOME</button>
</main>

{% endblock %}