{% extends "layout.html" %}
{% block body %}
<header>
    <h1>Bạn muốn reset password cho ID nào</h1>
</header>
<main>
    <form action="/reset_password" method="POST">
        <label for="student_id">Student ID</label>
        <input type="text" id="student_id" name="student_id" required>
        <button type="submit">Reset</button>        
    </form>
    <button onclick="location.href='/home'">HOME</button></main>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
</main>
{% endblock %}